.top-menu {
  padding: 15px 25px 0 0 
}

.top-menu__links {
  display: flex;
  justify-content: end;
  gap: 25px;
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
  margin: 0;  
}

.top-menu__links a {
  color: #323232;
  text-transform: capitalize
}